h1 {
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
  }

h3 {
  font-style: italic;
  color: grey;
  }

.btn {
    background-color: #351c75; /* Purple */
    border: none;
    color: white; /* Pink */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
  }

.btn:hover {
    background-color: #bd60e7; /* Pink d9d3e9*/
    color: white;
  }

ul {
    list-style-type: none;
  }
li {
  padding: 5px;
  }

#questions {
  display: none;
}
#finalscore {
  display: none;
}
#highscores{
  display: none;
}
#intro {
  display: block;
}
